.fs-1{
    font-size: 1rem !important;
}
.fs-2{
    font-size: 2rem !important;
}
.fs-07{
    font-size: 0.75rem !important;
}
.f-125{
    font-size: 1.25em;
}
.f-150{
    font-size: 1.50em;
}
.f-200{
    font-size: 2rem;
}