router-link {cursor: pointer !important;}
body{
  min-height: 100vh;
}
.search{
    background-image: url('./../assets/lupa.svg');
    background-size: contain !important;
    background-repeat: no-repeat;
    width: 1.5rem !important;
    height:1.5rem !important;
    display:inline-block !important;
  }

  .logo{
    background-image: url("./../assets/logo-navi-sem-texto.svg");
    background-size: contain !important;
    background-repeat:no-repeat !important;
    height: 2.75rem !important;
    width: 2.75rem !important;
  }

  .user{
    background-image: url("./../assets/user-solid-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 2rem !important;
    width: 1rem !important;
  }

  .trash{
    background-image: url('./../assets/trash-alt-solid.svg');
    background-size: contain !important;
    background-repeat: no-repeat;
    width: 1.5rem !important;
    height:1.5rem !important;
    display:inline-block !important;
  }

  :focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
  }
  :focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
  }
  :focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
  }
  :focus:-ms-input-placeholder {  
    opacity: 0;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
  }